In [18]:
import math

In [34]:
name = ' Samsung s9+'

In [35]:
type(name)          # type is used to know the object type in python programming

str

In [36]:
print(name)

 Samsung s9+

In [37]:
screen_size = 6.5     # Decimal number or fraction number are termed as float
type(screen_size)

float

In [38]:
num_of_speaker = 2      # I preferably defined int as an pure number, no. without any decimal
type(num_of_speaker)

int

In [7]:
val1 = -354
print(abs(val1))                                  #absolute value or magnitude of val1

354

# More on Data Types

In [39]:
print("I have just bought an " + name)          #Mergin it with print statement

I have just bought an  Samsung s9+

In [40]:
#Performing the basic arithmetic operation

a = 3            # a**b is the exponent or so called power operator, where a**b is read as a to the power b
b = 2            # % is the modulus or remainder operator, and returns the remainder after a number is divided by right part of the operand
print(a+b, a/b, a+b, a**b, a%b, a//b)            # is the floor value

5 1.5 5 9 1 1

In [41]:
is_ios = False      # boolean is another data type in python usually with two default value True and False 
type(is_ios)        # True denotes high and False denote low in various programming and electrical concept

bool

In [42]:
print(is_ios == True)

False

In [43]:
if is_ios == True:
  print(name + 'supports ios')
  print("This was just a joke this block will not be execute")
print("Printing outside the block")

Printing outside the block

In [44]:
for i in range(5):              #range is an exclusive and do not include the last value as index start from 0
  print(i, i*i)

0 0
1 1
2 4
3 9
4 16

In [29]:
range?

In [47]:
print(is_ios == False and num_of_speaker>2)

False

In [48]:
i = 0
while i <5:
  print(i, i*i)
  i +=1               #This is equivalent to i = i + 1

0 0
1 1
2 4
3 9
4 16

In [49]:
def print_square(stop_val):
  for i in range(stop_val):
    print(i, i**2)

In [51]:
print_square(5)

0 0
1 1
2 4
3 9
4 16

In [65]:
def sum_of_square(stop_val):
  sum = 0
  for i in range(stop_val):
    sum += i ** 2
  return sum
sum_of_square(5)

30

In [68]:
def print_square_with_startval(stop_val, start_val=0):
  """ Prints the square of a number starting from start_val(inclusive) and ending with stop_val(exclusive) """
  for i in range(start_val, stop_val):
    print(i, i**2)

print_square_with_startval(5, 2)

2 4
3 9
4 16

In [69]:
print_square_with_startval?     #This is the help structure format

# Adding further more concept on Data Types
Practical Implementation of Numeric Data Types (int, float, complex)

In [5]:
# Program to convert number from octal, binary and hexadecimal system into deciamal number system
n1 = 0o17
n2 = 0B1110010
n3 = 0X1c2

n1_new = int(n1)
n2_new = int(n2)
n3_new = int(n3)
print("Octal 0017 = ", n1,
       "\nBinary 1110010 = ", n2,
       "\nHexa 1c2 = ", n3)

Octal 0017 =  15
Binary 1110010 =  114
Hexa 1c2 =  450

### More example of number format conversion

In [7]:
# int(x) is used to convert the number x into int type as we have seen above

x = 15.677               #here x is a floating point
x_int  = int(x)
print(x_int)           #So, the floating point is converted to integer format

15

In [10]:
#similarly we can use float(x), complex(x)  to convert to respetice numeric data type

num = 15
print(float(num),"\n",complex(num))

15.0
 (15+0j)

### Moving to Bool Data Types
Representation of boolean value, includes True or false

In [12]:
a = 10
b = 20
print(a<b)
print(a>b)

True
False

In [13]:
a = 10 > 5          # here now 'a' is treated as bool type as it indicates the bool logic
print(a)

True

### Moving towards the sequence in Python
Generally seqence represent group of elements or items

# knowing about the  $\STRING$ sequence type

In [18]:
#  To conceptualize string are nothing but a sequence of characters
myString = "Hello"
myString2 = """This is the format to write the 
string in multi line for easiness in reading a long paragraph """

print(myString)
print(myString2)

Hello
This is the format to write the
string in multi line for easiness in reading a long paragraph

In [21]:
# The basic concept I would like to add,
# Print without a newline
for i in "Banana":
    print(i)

B
a
n
a
n
a

In [22]:
for i in "Banana":
    print(i, end="")

Banana

# Knowing the $\Byte$ sequence Data Type

In [2]:
bytes?

Init signature: bytes(self, /, *args, **kwargs)
Docstring:
bytes(iterable_of_ints) -> bytes
bytes(string, encoding[, errors]) -> bytes
bytes(bytes_or_buffer) -> immutable copy of bytes_or_buffer
bytes(int) -> bytes object of size given by the parameter initialized with null bytes
bytes() -> empty bytes object

Construct an immutable array of bytes from:
  - an iterable yielding integers in range(256)
  - a text string encoded using the specified encoding
  - any object implementing the buffer API.
  - an integer
Type:           type
Subclasses:

In [4]:
u = "Python"
type(u)                                                     #quick tips there are eight comparision operator in Python

str

In [5]:
v = b"Python"
type(v)

bytes

In [6]:
x =  b"Bytes object are immutable sequence of single bytes"
print(x)

b'Bytes object are immutable sequence of single bytes'

# More Practice on the related Topic
Practicing the concepts and core exception part

In [12]:
z = complex(45, -7)
print(z)
print(z.conjugate())

(45-7j)
(45+7j)

In [13]:
x_val = 45
y_val = 3.0
divmod(x_val, y_val)                           # the pair (x//y, x%y)

(15.0, 0.0)

In [19]:
math.trunc(y_val)                   #the parameter is truncated to integer

3

In [20]:
from math import pi
round(pi, 5)

3.14159

In [23]:
print(math.floor(3.576))                 #rounds to the base integral value
math.floor(3.24)

3

3

In [24]:
math.ceil(3.2)             #ROUNDS to the next highest integral

4

# $\Bit_String$ Opertions on Integer Types

#### Bit Manipulation

In [29]:
int('45',base=10)            # the first argument should be of type string

45

In [30]:
int('0010101011', 2)        # converts argumented string of 2 number base system to a corresponding int value

171

In [31]:
a = 4                                #The bit-wise  AND operation
b = 10                               # First the conversion takes place to binary bits and then comparision takes place
a & b

0

In [32]:
a | b                               # The bit-wise OR operation

14

In [33]:
a ^ b                               # The exclusive OR operation

14

In [35]:
type((a,))

tuple

In [1]:
85<<1

170

In [2]:
85^170

255

In [5]:
bin(85)

'0b1010101'

In [6]:
bin(255)

'0b11111111'

In [7]:
1%2

1

In [8]:
int(1/2)

0

In [9]:
hex(122)

'0x7a'

In [10]:
oct(9)

'0o11'

In [13]:
bin(44)

'0b101100'

In [17]:
1<<4

16

In [18]:
16&4

0

In [20]:
16&44

0

In [21]:
1<<3

8

In [22]:
8&44

8

In [27]:
a = 5
b=4
c=3
a = b+c
c = a-b
c = c+a
c=b+c
b = b+c
print(a, b, c)

7 18 14