In [34]:
name = ' Samsung s9+'

In [35]:
type(name)          # type is used to know the object type in python programming

str

In [36]:
print(name)

 Samsung s9+

In [37]:
screen_size = 6.5     # Decimal number or fraction number are termed as float
type(screen_size)

float

In [38]:
num_of_speaker = 2      # I preferably defined int as an pure number, no. without any decimal
type(num_of_speaker)

int

# Playing with Data Types

In [39]:
print("I have just bought an " + name)          #Mergin it with print statement

I have just bought an  Samsung s9+

In [40]:
#Performing the basic arithmetic operation

a = 3            # a**b is the exponent or so called power operator, where a**b is read as a to the power b
b = 2            # % is the modulus or remainder operator, and returns the remainder after a number is divided by right part of the operand
print(a+b, a/b, a+b, a**b, a%b, a//b)            # is the floor value

5 1.5 5 9 1 1

In [41]:
is_ios = False      # boolean is another data type in python usually with two default value True and False 
type(is_ios)        # True denotes high and False denote low in various programming and electrical concept

bool

In [42]:
print(is_ios == True)

False

In [43]:
if is_ios == True:
  print(name + 'supports ios')
  print("This was just a joke this block will not be execute")
print("Printing outside the block")

Printing outside the block

In [44]:
for i in range(5):              #range is an exclusive and do not include the last value as index start from 0
  print(i, i*i)

0 0
1 1
2 4
3 9
4 16

In [29]:
range?

In [47]:
print(is_ios == False and num_of_speaker>2)

False

In [48]:
i = 0
while i <5:
  print(i, i*i)
  i +=1               #This is equivalent to i = i + 1

0 0
1 1
2 4
3 9
4 16

In [49]:
def print_square(stop_val):
  for i in range(stop_val):
    print(i, i**2)

In [51]:
print_square(5)

0 0
1 1
2 4
3 9
4 16

In [65]:
def sum_of_square(stop_val):
  sum = 0
  for i in range(stop_val):
    sum += i ** 2
  return sum
sum_of_square(5)

30

In [68]:
def print_square_with_startval(stop_val, start_val=0):
  """ Prints the square of a number starting from start_val(inclusive) and ending with stop_val(exclusive) """
  for i in range(start_val, stop_val):
    print(i, i**2)

print_square_with_startval(5, 2)

2 4
3 9
4 16

In [69]:
print_square_with_startval?     #This is the help structure format